<div class="container-fluid">

    <div class="row">

        <!-- Div propaganda -->
        <div class="col-sm-5 text-center login-container-propaganda login-bg-primary">

            <div>
                <img class="login-logotipo" src="../../../assets/img/logo/logo-completo-branco.png">
            </div>
            <h1 class="destaque-white">
                SMARKET o mercado que faz toda diferença!
            </h1>


        </div>


        <!-- Div propaganda -->
        <div class="col-sm-5 offset-sm-1 text-center">

            <h2>Register member</h2>
            <a routerLink="/login-consumidor" class="transition">Already have an account? Sign in!</a>

            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">



                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email-b-f">Nome</label>
                            <input [formControl]="nome" class="form-control validation-field" type="text">
                            <small class="text-danger" *ngIf="form.get('nome').touched">
                                                    <span *ngIf="form.get('nome').hasError('required')">Nome obrigatório</span>
                                                    <span *ngIf="form.get('nome').hasError('minlength')">Minimo 3 caracteres</span>                            
                                                    <span *ngIf="form.get('nome').hasError('maxlength')">Máximo 150 caracteres</span>
                                                </small>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email-b-f">Sobrenome</label>
                            <input [formControl]="sobrenome" class="form-control validation-field" type="text">
                            <small class="text-danger" *ngIf="form.get('sobrenome').touched">
                                                    <span *ngIf="form.get('sobrenome').hasError('required')">Sobrenome obrigatório</span>
                                                    <span *ngIf="form.get('sobrenome').hasError('minlength')">Minimo 3 caracteres</span>                            
                                                    <span *ngIf="form.get('sobrenome').hasError('maxlength')">Máximo 150 caracteres</span>
                                                </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email-b-f">Tipo de Telefone</label>
                            <select [formControl]="tipoTelefone" class="form-control validation-field">
                                                    <option value="">Selecione</option>
                                                    <option *ngFor="let tipoTelefone of tiposTelefone" 
                                                    [value]="tipoTelefone.tipo_telefone_id">
                                                    {{tipoTelefone.tipo_telefone_descricao}}</option>
                                            </select>
                            <small class="text-danger" *ngIf="form.get('tipoTelefone').touched">
                                                <span *ngIf="form.get('tipoTelefone').hasError('required')">Tipo de telefone obrigatório</span>
                                            </small>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="email-b-f">DDD</label>
                            <input [formControl]="ddd" class="form-control validation-field" placeholder="(19)" type="text" specialCharacters="false"
                                mask="(00)">
                            <small class="text-danger" *ngIf="form.get('ddd').touched">
                                                    <span *ngIf="form.get('ddd').hasError('required')">ddd obrigatório</span>
                                                </small>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="email-b-f">Telefone</label>
                            <input [formControl]="telefone" class="form-control validation-field" placeholder="9999-9999" type="text" specialCharacters="false"
                                mask="0000-0000">
                            <small class="text-danger" *ngIf="form.get('telefone').touched">
                                                    <span *ngIf="form.get('telefone').hasError('required')">Telefone obrigatório</span>
                                                </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="email-b-f">Email</label>
                            <input [formControl]="email" class="form-control validation-field" type="text">
                            <small class="text-danger" *ngIf="form.get('email').touched">
                                                <span *ngIf="form.get('email').hasError('required')">Email obrigatório</span>
                                                <span *ngIf="form.get('email').hasError('invalidEmail')">Email inválido</span>
                                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email-b-f">Senha</label>
                            <input [formControl]="password" class="form-control validation-field" type="password" minlength="6">
                            <small class="text-danger" *ngIf="form.get('password').touched">
                                                <span *ngIf="form.get('password').hasError('required')">Senha obrigatória</span>
                                                <span *ngIf="form.get('password').hasError('minlength')">Mínimo 6 caracteres</span>
                                                <span *ngIf="form.get('password').hasError('minlength')">Máximo 20 caracteres</span>
                                            </small>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email-b-f">Confirme sua Senha</label>
                            <input [formControl]="confirmPassword" class="form-control validation-field" type="password">
                            <small class="text-danger" *ngIf="form.get('confirmPassword').touched">
                                                <span *ngIf="form.get('confirmPassword').hasError('required')">Confirmação de senha obrigatória</span>
                                                <span *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">As senhas não correspondem</span>
                                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p class="terms">Ao cadastrar-me, declaro que sou maior de idade e aceito as Políticas de privacidade e os <a href="javascript:void(0);"
                            class="transition terms" data-toggle="modal" data-target="#default-modal">Termos de Uso</a>.</p>
                </div>


                <div class="modal fade" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-label">TERMOS DE SERVIÇO</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Esse site é operado pelo Smarketapp. Em todo o site, os termos “nós”, “nos” e “nosso” se referem ao Smarketapp. O Smarketapp
                                    proporciona esse site, incluindo todas as informações, ferramentas e serviços disponíveis
                                    deste site para você, o usuário, com a condição da sua aceitação de todos os termos,
                                    condições, políticas e avisos declarados aqui.
                                </p>
                                <p>
                                    Ao visitar nosso site e/ou comprar alguma coisa no nosso site, você está utilizando nossos “Serviços”. Consequentemente,
                                    você concorda com os seguintes termos e condições (“Termos de serviço”, “Termos”), incluindo
                                    os termos e condições e políticas adicionais mencionados neste documento e/ou disponíveis
                                    por hyperlink. Esses Termos de serviço se aplicam a todos os usuários do site, incluindo,
                                    sem limitação, os usuários que são navegadores, fornecedores, clientes, lojistas e/ou
                                    contribuidores de conteúdo.
                                </p>
                                <p>
                                    Por favor, leia esses Termos de serviço cuidadosamente antes de acessar ou utilizar o nosso site. Ao acessar ou usar qualquer
                                    parte do site, você concorda com os Termos de serviço. Se você não concorda com todos
                                    os termos e condições desse acordo, então você não pode acessar o site ou usar quaisquer
                                    serviços. Se esses Termos de serviço são considerados uma oferta, a aceitação é expressamente
                                    limitada a esses Termos de serviço.
                                </p>
                                <p>
                                    Quaisquer novos recursos ou ferramentas que forem adicionados à loja atual também devem estar sujeitos aos Termos de serviço.
                                    Você pode revisar a versão mais atual dos Termos de serviço quando quiser nesta página.
                                    Reservamos o direito de atualizar, alterar ou trocar qualquer parte desses Termos de
                                    serviço ao publicar atualizações e/ou alterações no nosso site. É sua responsabilidade
                                    verificar as alterações feitas nesta página periodicamente. Seu uso contínuo ou acesso
                                    ao site após a publicação de quaisquer alterações constitui aceitação de tais alterações.
                                </p>
                                <p>
                                    Nossa loja é hospedada no Umbler. Eles nos fornecem uma plataforma de e-commerce online que nos permite vender nossos produtos
                                    e serviços.

                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button [disabled]="!form.valid" class="btn btn-block" type="submit">Cadastrar</button>
                </div>

            </form>

        </div>
    </div>

</div>