.login-container{
    position: absolute;
    .card{
        .card-header{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}

.login-container-propaganda{
    background-color: #0F253B;
    height: 720px;
    width: 100%;
}


.login-mascote{
margin-top: 10%; 

}

.login-logotipo{
    width: 50%;

  }

  .destaque-white{
      margin-top: 30px;
      color:#fff;
  }