<div class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <tbody>
                    <!---->
                    <tr>
                        <td class="align-middle text-truncate number">
                            <span class="circle">1</span>
                        </td>
                        <td class="align-middle">
                            <!---->
                            <img class="rounded-circle" width="40" src="assets/img/profile/ashley.jpg">
                            <!---->
                        </td>
                        <td class="align-middle text-truncate">Ashley Ahlberg</td>
                        <td class="align-middle text-truncate">Google</td>
                        <td class="align-middle text-truncate">Product designer</td>
                    </tr>
                    <!---->
                    <tr>
                        <td class="align-middle text-truncate number">
                            <span class="circle">1</span>
                        </td>
                        <td class="align-middle">
                            <!---->
                            <img class="rounded-circle" width="40" src="assets/img/profile/ashley.jpg">
                            <!---->
                        </td>
                        <td class="align-middle text-truncate">Ashley Ahlberg</td>
                        <td class="align-middle text-truncate">Google</td>
                        <td class="align-middle text-truncate">Product designer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>