.login-container-propaganda {
    background-image: url(../../../assets/img/background/cadastro-consumidor.png);
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
}
.login-mascote {
    margin-top: 5%;
    width: 50%;
}
.login-logotipo {
    width: 50%;
    margin-top:20px;
}
.destaque-white {
    margin-top: 30px;
    color: #fff;
}

.btn-entrar{
    background-color: #0F253B;
    border-color: #0F253B;
    color: #fff;
}
.btn-entrar:hover{
    background-color: #050d14;
    border-color: #050d14;
}

/* campo do formulário */
input.password{
    padding:5px 20px 5px 30px
 }
 
 /* formatação do elemento */
 #senha{
    float:left;
    margin:-30px 0px 0px 10px;
    cursor:pointer
 }
 
 /* formatação do conteúdo  */
 #senha:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f06e"
 }

 /* campo do formulário */
input.cep{
    padding:5px 20px 5px 30px
 }
 
 /* formatação do elemento */
 #cep{
    float:left;
    margin:-25px 0px 0px 10px;
    cursor:pointer
 }
 
 /* formatação do conteúdo  */
 #cep:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f002"
 }

 
input{
    border: solid 1px #fff !important;
    height: 40px !important;
    font-size: 1.3em !important;
    color: #333 !important;
    border-radius: .4rem;
}

input:focus, select:focus{
    border: solid 1px #D19422 !important;
}

select{
    border: solid 1px #fff !important;
    height: 40px !important;
    font-size: 1.3em !important;
    color: #333 !important;
}

button.btn.btn-block {
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    background-color: #0F253B;
    border: solid 1px #0F253B;
    margin: 15px 0;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
}

.app.combined .wrapper, .app.combined .wrapper-inner {
    background-color: #f7f7f7db;
    color: #565656;
}

.app.combined .custom-control.custom-checkbox .custom-control-input.checkbox-primary:checked{
    background-color: #0F253B;
}


