<div class="container-fluid formas-pagamento">
    
        <div class="row">
            <div class="col-sm-12">
                <img class="icone-form-header pb-2" src="assets/img/icone/icones-adm_produto-crate.svg">
                <h2 class="title-cadastro pb-2">Minhas Formas de Pagamento</h2>
            </div>
        </div>
    
        <form [formGroup]="" >
    
            <div class="row card-cadastro text-center mt-3">
                <div class="col-sm-12 pb-2">
                    <h3>Formas de Pagamento SMARKET</h3>
                </div>
                <div class="col-sm-3 offset-sm-3">
                    <p>
                        <img class=" pb-2" src="assets/img/icone/icone-pag-cartao.svg" width="150px">
                    </p>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input [formControl]="" class="custom-control-input checkbox-warning" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Pagamento com cartão (SMARKET)</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        <img class=" pb-2" src="assets/img/icone/icone-pag-boleto.svg" width="150px">
                    </p>
                    <label class="custom-control custom-checkbox">
                        <input [formControl]="" class="custom-control-input checkbox-warning" type="checkbox">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Pagamento com cartão (SMARKET)</span>
                    </label>
                </div>
            </div>

            <div class="row card-cadastro text-center mt-3">
                    <div class="col-sm-12 pb-2">
                            <h3>Adicionar Formas de Pagamento</h3>
                        </div>
                <div class="col-sm-3 offset-sm-3">
                    <p>
                        <img class=" pb-2" src="assets/img/icone/icone-pag-loja.svg" width="150px">
                    </p>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input [formControl]="" class="custom-control-input checkbox-warning" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Pagar na loja (SMARKET)</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        <img class=" pb-2" src="assets/img/icone/icone-pag-faturamento.svg" width="150px">
                    </p>
                    <label class="custom-control custom-checkbox">
                        <input [formControl]="" class="custom-control-input checkbox-warning" type="checkbox">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Pagamento por Faturamento (exclusivo PJ)</span>
                    </label>
                </div>
            </div>
    
            <div class="row pt-4">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary btn-center w-100p" type="submit">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

   