<div class="container-fluid formas-entrega">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h6 class="mt-4">Top horizontal tabs</h6>
            <div class="clearfix">
                <ul class="nav nav-tabs custom top">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#comercial">
                            <img src="./assets/img/icone/icone-estab-_loja.svg">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#endereco">Endereco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#bancario">Bancario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#publicidade">Publicidade</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content top">
                <div class="tab-pane active" id="comercial">
                    <app-estabelecimento-adm-comercial></app-estabelecimento-adm-comercial>
                </div>
                <div class="tab-pane" id="endereco">
                    <app-estabelecimento-adm-endereco></app-estabelecimento-adm-endereco>
                </div>
                <div class="tab-pane" id="contato">
                    <app-estabelecimento-adm-contato></app-estabelecimento-adm-contato>
                </div>
                <div class="tab-pane" id="bancario">
                    <app-estabelecimento-adm-bancario></app-estabelecimento-adm-bancario>
                </div>
                <div class="tab-pane" id="publicidade">
                    <app-estabelecimento-adm-publicidade></app-estabelecimento-adm-publicidade>
                </div>
            </div>
        </div>
    </div>
</div>