<div class="container-fluid estabelecimento-adm-comercial">

    <div class="row">
        <div class="col-sm-12">
            <p>
                <strong>Razão Social:</strong>
            </p>
            <p>
                <strong>Nome Fantasia:</strong>
            </p>
            <p>
                <strong>CNPJ:</strong>
            </p>
            <p>
                <strong>Segmento de Negócio:</strong>
            </p>
            <p>
                <strong>Inscrição Estadual:</strong>
            </p>
            <p>
                <strong>Inscrição Municipal:</strong>
            </p>
        </div>
        <div class="col-sm-12">

        </div>
    </div>



    <!-- Div propaganda -->
    <div class="col-sm-12">

    </div>
</div>